
.search input {
    width: 200px;
    height: 50px;
    font-size: 32px;
    background-color: pink;
    border-radius: 10px;
    margin-right: 10px;
}

.search input[name="search"] {
    width: 400px;
}